<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.iutlens.bucamppodevin.recilist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReciList">
        <activity android:name="fr.iutlens.bucamppodevin.recilist.page_ajout_recette"></activity>
        <activity android:name="fr.iutlens.bucamppodevin.recilist.PageRecette" />
        <activity android:name="fr.iutlens.bucamppodevin.recilist.PageCookies" />
        <activity android:name="fr.iutlens.bucamppodevin.recilist.PageFondant" />
        <activity android:name="fr.iutlens.bucamppodevin.recilist.PageSalade" />
        <activity android:name="fr.iutlens.bucamppodevin.recilist.PageTartiflette" />
        <activity android:name="fr.iutlens.bucamppodevin.recilist.PageTiramisu" />
        <activity android:name="fr.iutlens.bucamppodevin.recilist.PageBolo" />
        <activity android:name="fr.iutlens.bucamppodevin.recilist.PageCrepes" />
        <activity android:name="fr.iutlens.bucamppodevin.recilist.PageCrumble" />
        <activity android:name="fr.iutlens.bucamppodevin.recilist.PagePain" />
        <activity android:name="fr.iutlens.bucamppodevin.recilist.PagePancakes" />
        <activity android:name="fr.iutlens.bucamppodevin.recilist.LoadingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fr.iutlens.bucamppodevin.recilist.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>